{% extends 'layouts/base.html' %} {% block title %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<section id="debit-domestik" class="debit-domestik">
  <div class="container">
    <div class="row">
      <h1 class="text-center">DEBIT LIMBAH DOMESTIK</h1>
      <div class="col-8 offset-sm-2">
        <div class="card">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Debit <br /><span class="fw-normal">(m3)</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2022-05-01</td>
                <td>0.06</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
